# Sesion 1

Variables

In [2]:
print ("Hola Mundo")

Hola Mundo

In [3]:
"Alejandra López"

'Alejandra López'

In [4]:
25

25

In [5]:
1.5

1.5

In [6]:
True

True

In [7]:
False

False

In [8]:
type ("Alejandra López")

str

In [9]:
type(28)

int

In [10]:
type(1.9)

float

In [11]:
mi_nombre = "Alejandra López"
print (mi_nombre)

Alejandra López

In [12]:
mi_edad = 25
mi_altura = 1.58

In [13]:
mi_nombre
mi_altura

1.58

In [14]:
print(mi_nombre)
print(mi_altura)

Alejandra López
1.58

# Format

1. Format Manual (Concatenar)
2. Format parentesis
3. F strings

In [7]:
mi_nombre = "Alejandra López"
mi_edad = 25
mi_altura = 1.58

In [6]:
print ("Mi nombre es: " + mi_nombre)

Mi nombre es: Alejandra López

In [8]:
print("Mi edad es %i" % mi_edad)

Mi edad es 25

In [9]:
print("La altura {} y mi nombre es {}".format(mi_altura, mi_nombre))

La altura 1.58 y mi nombre es Alejandra López

In [11]:
print("La altura {1} y mi nombre es {0}".format(mi_altura, mi_nombre))

La altura Alejandra López y mi nombre es 1.58

In [12]:
print(f"Mi nombre es {mi_nombre} y mi edad es {mi_edad}")

Mi nombre es Alejandra López y mi edad es 25

Relleno de f strings

In [15]:
print (f"Mi nombre es {mi_nombre:20} y mi edad es {mi_edad}")

Mi nombre es Alejandra López      y mi edad es 25

In [18]:
print (f"{mi_nombre:20}|{mi_edad:>3}")

Alejandra López     | 25

In [17]:
print (f"{mi_nombre:-<20}|{mi_edad:->3}")

Alejandra López-----|-25

Declaración de variables numéricas

In [20]:
a = 10
b = 5

In [22]:
print(a+b)

15

In [25]:
c , d = 20, 25

In [28]:
print (c + d)

45

In [30]:
print (f"La suma de {c} + {d} es {c + d}")

La suma de 20 + 25 es 45

Ejercicio: Imprimir la multiplicación y división de c y d

In [32]:
print(f"La multiplicación de {c} x {d} es {c * d}")

La multiplicación de 20 x 25 es 500

In [34]:
print(f"La división de {c} / {d} es {c / d}")

La división de 20 / 25 es 0.8

Inputs

In [4]:
mi_nombre = input("Dame tu nombre ")
mi_nombre

'Alejandra'

In [130]:
mi_edad = input("Dame tu edad")
mi_edad * 5

'2525252525'

In [9]:
int("5")

5

In [11]:
type(int("5"))

int

In [13]:
mi_edad = input("Dame tu edad")
mi_edad = int(mi_edad)
mi_edad * 5

125

In [14]:
mi_edad = int(input("Dame tu nombre"))
mi_edad * 10

250

## Listas (arrays para los que vienen de java script y c)

In [15]:
list()

[]

In [17]:
["Alejandra, José"]

['Alejandra, José']

In [19]:
[25, 26]

[25, 26]

In [21]:
[True, False]

[True, False]

In [25]:
["Alejandra", 25, 1.58, True]

['Alejandra', 25, 1.58, True]

In [27]:
frutas = ["Manzana", "Uva", "Fresa"]

In [29]:
print(frutas)

['Manzana', 'Uva', 'Fresa']

In [31]:
list(enumerate(frutas))

[(0, 'Manzana'), (1, 'Uva'), (2, 'Fresa')]

In [33]:
frutas[1]

'Uva'

In [35]:
frutas[0]

'Manzana'

In [37]:
frutas[2]

'Fresa'

Meter elementos a una lista

In [47]:
lista_vacia = []

In [49]:
frutas.append("Sandía")

In [51]:
print(frutas)

['Manzana', 'Uva', 'Fresa', 'Plátano', 'Plátano', 'Durazno', 'Sandía', 'Sandía']

Slice

In [52]:
frutas[1:2]

['Uva']

In [54]:
frutas[1:3]

['Uva', 'Fresa']

In [56]:
frutas[-1]

'Sandía'

In [58]:
frutas[-2]

'Sandía'

In [61]:
print(frutas[::-1])

['Sandía', 'Sandía', 'Durazno', 'Plátano', 'Plátano', 'Fresa', 'Uva', 'Manzana']

In [63]:
"Alejandra"[1]

'l'

In [65]:
"Alejandra"[-1]

'a'

In [67]:
"Alejandra"[::-1]

'ardnajelA'

In [69]:
"Anita lava la tina"[::-1]

'anit al aval atinA'

Ejercicio: crear una lista que contenga 10 números desordenados que vayan entre 0 y 100

In [79]:
numeros = [10,15,5,2]

In [75]:
numeros.sort()

In [76]:
numeros

[2, 5, 10, 15]

In [82]:
numeros.sort(reverse=True)

In [84]:
numeros

[15, 10, 5, 2]

In [85]:
sum(numeros)

32

Fórmula de la media

Ejercicio: sacar el promedio de sus números, guardar en una variable llamada promedio

In [87]:
suma = sum(numeros)
n = 4

promedio = suma / n
promedio

8.0

In [89]:
len(numeros)

4

In [91]:
suma = sum(numeros)
n = len(numeros)

promedio = suma / n
promedio

8.0

In [93]:
min(numeros)

2

In [94]:
max(numeros)

15

Diccionarios

In [96]:
dict()

{}

In [98]:
capitales = { "España": "Madrid", "Francia": "París", "Alemania": "Berlín"}

In [100]:
print(capitales)

{'España': 'Madrid', 'Francia': 'París', 'Alemania': 'Berlín'}

In [102]:
capitales

{'España': 'Madrid', 'Francia': 'París', 'Alemania': 'Berlín'}

In [104]:
capitales["España"]

'Madrid'

In [106]:
capitales["Francia"]

'París'

In [108]:
capitales.keys()

dict_keys(['España', 'Francia', 'Alemania'])

In [110]:
capitales.values()

dict_values(['Madrid', 'París', 'Berlín'])

In [112]:
capitales.items()

dict_items([('España', 'Madrid'), ('Francia', 'París'), ('Alemania', 'Berlín')])

In [114]:
capitales["México"] = "CDMX"

In [116]:
capitales

{'España': 'Madrid',
 'Francia': 'París',
 'Alemania': 'Berlín',
 'México': 'CDMX'}

In [118]:
datos_amigo = {"name": "Mario", "país": "Colombia"}

In [120]:
datos_amigo["frutas"] = frutas

In [121]:
datos_amigo

{'name': 'Mario',
 'país': 'Colombia',
 'frutas': ['Manzana',
  'Uva',
  'Fresa',
  'Plátano',
  'Plátano',
  'Durazno',
  'Sandía',
  'Sandía']}

In [123]:
datos_amigo2 = {"name": "Angeles", "país": "Chile"}

In [125]:
amigos = [datos_amigo, datos_amigo2]

In [127]:
amigos

[{'name': 'Mario',
  'país': 'Colombia',
  'frutas': ['Manzana',
   'Uva',
   'Fresa',
   'Plátano',
   'Plátano',
   'Durazno',
   'Sandía',
   'Sandía']},
 {'name': 'Angeles', 'país': 'Chile'}]

In [128]:
len(amigos)

2